@model IEnumerable<E_ticaret.Core.Model.Entity.Cart>

<br />
<table class="table table-bordered">
    <tr>
        <th>
            Ürün
        </th>
        <th>
            Adet
        </th>
        <th>
            Sil
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<a href="/Siparisver" class="btn btn-primary"><i class="fas fa-money-check-alt"></i> Satın Al</a>
